QFrame#Navigation {
    background-color: transparent;
}

QFrame#Navigation > QPushButton {
    color: var(--default-color1);
    background-color: transparent;
    border: none;
}

QFrame#Navigation > QPushButton:hover {
    color: var(--hover-color1);
}

QFrame#Navigation > QPushButton:pressed {
    color: var(--main-color1);
}

QFrame#Navigation > QLabel {
    color: var(--highlight-color1);
    padding-bottom: 15;
    background-color: transparent;
}
